.divider {
  border-left: 1px solid #fff;
  height: auto;
}

.footer_background {
  background-color: #212121;
}

.text-white > .h5 {
  font-weight: 600;
}
.foot_timing {
  width: 300px;
}

.foot_phone {
  padding: 1rem 0;
  h4 {
    font-family: "Rajdhani", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem;
  }
  img {
    object-fit: contain;
  }
}
.footer_end {
  background-color: #212121;
  p {
    height: 1rem;
    border-right: 2px solid #fff;
    margin: 0 10px;
  }
  h6 {
    color: #fff;
    line-height: 1.2;
    font-weight: 600;
    font-size: 1rem;
    // font-weight: 300;
  }
  .border {
    margin: 2rem 0;
  }
}
.footer_text {
  text-align: right;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .footer_end {
    padding: 0;
    padding: 10px;
  }
  .footer_background {
    .text-white:nth-child(1), .text-white:nth-child(2) {
      display:none;
    }
  }
}