.header {
  background-color: #141f97;
}

.header > .header_display {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
.header_display > .side_section,
.logo > img {
  padding: 0.5rem 3rem;
}

.header_option > p,
img,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #c3c3c9;
  margin-right: 5px;
}
.side_section > p {
  height: 1.75rem;
  border-right: 2px solid #c3c3c9;
  margin-right: 10px;
}
