.dash_background {
  color: lightgrey;
}

.main {
  background-color: lightgrey;
  width: 100%;
}
.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.offer_tag {
  background-color: #848ac5;
  width: 100%;
}
.offer_tag > p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.cart_background {
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.t_head {
  flex: 50%;
  padding-left: 3rem;
}

.t_content {
  flex: 50%;
  img {
      object-fit: contain;
      width: fit-content;
  }
}

.order_summary {
    margin: 3rem 0;
    padding: 3rem 0;
}

.w-40 {
    width: 40%;
}